<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="people" class="com.weihongyu.spring.entity.People" />


    <!--<bean id="beforeLog" class="com.weihongyu.spring.dynamic.BeforeLog"/>-->
    <bean id="around" class="com.weihongyu.spring.dynamic.Around"/>

    <bean id="userService" class="com.weihongyu.spring.proxy.UserServiceImpl"/>
    <bean id="orderService" class="com.weihongyu.spring.proxy.OrderServiceImpl"/>
    <bean id="userService2" class="com.weihongyu.spring.proxy.a.UserServiceImpl2"/>

    <!--AOP编程的配置  proxy-target-class="false"默认 JDK， true 切换为cglib-->
    <aop:config proxy-target-class="true">
        <!--切入点表达式-->
        <!--所有类的所有方法-->
        <aop:pointcut id="pc" expression="execution(* *(..))"/>

        <!--所有类的login方法-->
        <aop:pointcut id="pc1" expression="execution(* login(..))"/>

        <!--所有类的register方法，方法参数为User-->
        <aop:pointcut id="pc2" expression="execution(* register(com.weihongyu.spring.proxy.User))"/>

        <!--UserServiceImpl类中所有方法-->
        <aop:pointcut id="pc3" expression="execution(* com.weihongyu.spring.proxy.UserServiceImpl.*(..))"/>

        <!--任意包下的UserServiceImpl类中所有方法，通配包名-->
        <aop:pointcut id="pc4" expression="execution(* *..UserServiceImpl.*(..))"/>

        <!--com.weihongyu.spring.proxy包下的所有类的所有方法，注意只有当前包下，不能是子包内的-->
        <aop:pointcut id="pc5" expression="execution(* com.weihongyu.spring.proxy.*.*(..))"/>

        <!--com.weihongyu.spring.proxy包下的所有类的所有方法，包括子包下的-->
        <aop:pointcut id="pc6" expression="execution(* com.weihongyu.spring.proxy..*.*(..))"/>

        <aop:advisor advice-ref="around" pointcut-ref="pc6"/>
    </aop:config>

    <!--采用注解方式进行AOP开发-->
    <!--<aop:aspectj-autoproxy />-->
</beans>