<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--配置目标类-->
    <bean id="orderService" class="com.weihongyu.spring.aspect.OrderServiceImpl"/>

    <!--配置注解类-->
    <bean id="around" class="com.weihongyu.spring.aspect.LogInfo"/>

    <!--开启spring AOP的注解形式-->
    <aop:aspectj-autoproxy />
</beans>